In [131]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math

In [132]:
# percentage change of gdp year to year
gdp_data=pd.read_csv("update_gdp.csv")
gdp_data["gdp_change"] = round(gdp_data["gdp"].pct_change() * 100, 2)
gdp_data.head()

/var/folders/w3/t56qbqz106131grf4j6jmmnr0000gn/T/ipykernel_70443/2131542769.py:3: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  gdp_data["gdp_change"] = round(gdp_data["gdp"].pct_change() * 100, 2)

   year        gdp  gdp_change
0     0  947610.99         NaN
1     1  924027.86       -2.49
2     2  936162.21        1.31
3     3  827450.82      -11.61
4     4  936712.99       13.20

In [133]:
# Initialize the column with zeros
gdp_data["good_fishing_year"] = 0

# Set good fishing years starting from year 5 (index 4), then every 3 years
for i in range(0, len(gdp_data)):
    if i >= 4:  # Year 5 is at index 4
        # Calculate position relative to year 5
        years_since_first_good = i - 1
        # Every 3rd year starting from year 5 is a good fishing year
        if years_since_first_good % 3 == 0:
            gdp_data.loc[i, "good_fishing_year"] = 1

gdp_data.head(10)

   year         gdp  gdp_change  good_fishing_year
0     0   947610.99         NaN                  0
1     1   924027.86       -2.49                  0
2     2   936162.21        1.31                  0
3     3   827450.82      -11.61                  0
4     4   936712.99       13.20                  1
5     5   875192.56       -6.57                  0
6     6   904379.30        3.33                  0
7     7   804472.67      -11.05                  1
8     8   826799.61        2.78                  0
9     9  1000241.05       20.98                  0

In [134]:
# Initialize the column with zeros
gdp_data["ex_good_farming_year"] = 0

# Year 100 is the last of 6 good years, so years 95-100 are good
# Pattern: 1 bad year, then 6 good years (repeating)
# Working backwards from year 100 (index ): years 95-100 are good
# Years 88-94: 88 bad, 89-94 good
# Years 81-87: 81 bad, 82-87 good
for i in range(0, len(gdp_data)):
    # Year 100 is at index 99
    # Calculate position in the 7-year cycle (1 bad + 6 good)
    # Year 100 (index 99) should be position 6 in its cycle
    position_in_cycle = (i - 99 + 5) % 7
    
    # If position is 1-6 (not 0), it's a good farming year
    if position_in_cycle != 0:
        gdp_data.loc[i, "ex_good_farming_year"] = 1

gdp_data.tail(50)

     year         gdp  gdp_change  good_fishing_year  ex_good_farming_year
61     61   981534.10       22.34                  1                     1
62     62   796049.14      -18.90                  0                     1
63     63   904855.69       13.67                  0                     1
64     64  1020510.25       12.78                  1                     1
65     65   911959.36      -10.64                  0                     1
66     66   868534.94       -4.76                  0                     0
67     67  1098517.07       26.48                  1                     1
68     68   987956.89      -10.06                  0                     1
69     69   965278.31       -2.30                  0                     1
70     70  1140457.10       18.15                  1                     1
71     71  1033323.80       -9.39                  0                     1
72     72  1036750.29        0.33                  0                     1
73     73  1126300.91        8.64                  1                     0
74     74  1097116.89       -2.59                  0                     1
75     75  1158028.73        5.55                  0                     1
76     76  1345792.37       16.21                  1                     1
77     77  1231514.38       -8.49                  0                     1
78     78  1127595.58       -8.44                  0                     1
79     79  1284296.09       13.90                  1                     1
80     80  1027633.12      -19.98                  0                     0
81     81  1113091.45        8.32                  0                     1
82     82  1140876.91        2.50                  1                     1
83     83  1113078.83       -2.44                  0                     1
84     84  1092882.08       -1.81                  0                     1
85     85  1346431.67       23.20                  1                     1
86     86  1226579.58       -8.90                  0                     1
87     87  1092495.57      -10.93                  0                     0
88     88  1373987.29       25.77                  1                     1
89     89  1207774.27      -12.10                  0                     1
90     90  1210539.56        0.23                  0                     1
91     91  1337680.07       10.50                  1                     1
92     92  1157495.98      -13.47                  0                     1
93     93  1156836.02       -0.06                  0                     1
94     94  1197772.13        3.54                  1                     0
95     95  1131108.37       -5.57                  0                     1
96     96  1125307.62       -0.51                  0                     1
97     97  1264562.36       12.37                  1                     1
98     98  1125263.52      -11.02                  0                     1
99     99  1109946.84       -1.36                  0                     1
100   100  1205293.20        8.59                  1                     1
101   101  1058417.45      -12.19                  0                     0
102   102  1028739.89       -2.80                  0                     1
103   103   830634.70      -19.26                  1                     1
104   104   931491.64       12.14                  0                     1
105   105  1043370.32       12.01                  0                     1
106   106         NaN        0.00                  1                     1
107   107         NaN        0.00                  0                     1
108   108         NaN        0.00                  0                     0
109   109         NaN        0.00                  1                     1
110   110         NaN        0.00                  0                     1

In [135]:
#is the year actually a good farming year 
predictor= pd.read_csv("../data/data/predictors.csv")
gdp_data = gdp_data.merge(predictor[['year','farm_income']], on='year', how='left')


# Create a new column for actual good farming years
gdp_data["actual_good_farming_year"] = 0

# If it is predicted to be a good farming year AND the income is greater than or equal to average, then it is actually a good year
threshold= gdp_data["farm_income"].mean()-gdp_data["farm_income"].std()
actual_good_condition = (gdp_data["ex_good_farming_year"] == 1) & (gdp_data["farm_income"] >= threshold)
gdp_data.loc[actual_good_condition, "actual_good_farming_year"] = 1
gdp_info = gdp_data[["year","gdp","gdp_change","good_fishing_year","ex_good_farming_year","actual_good_farming_year"]]
gdp_data.tail(30)

,year,gdp,gdp_change,good_fishing_year,ex_good_farming_year,farm_income,actual_good_farming_year
81,81,1113091.45,8.32,0,1,1822.563600,1
82,82,1140876.91,2.50,1,1,1923.590132,1
83,83,1113078.83,-2.44,0,1,926.225867,0
84,84,1092882.08,-1.81,0,1,861.820676,0
85,85,1346431.67,23.20,1,1,2002.838533,1
86,86,1226579.58,-8.90,0,1,2409.428243,1
87,87,1092495.57,-10.93,0,0,802.680411,0
88,88,1373987.29,25.77,1,1,2375.565417,1
89,89,1207774.27,-12.10,0,1,2196.378310,1
90,90,1210539.56,0.23,0,1,2332.998514,1
91,91,1337680.07,10.50,1,1,2210.912297,1
92,92,1157495.98,-13.47,0,1,1686.712778,1
93,93,1156836.02,-0.06,0,1,2337.828611,1
94,94,1197772.13,3.54,1,0,833.860278,0
95,95,1131108.37,-5.57,0,1,2225.203088,1
96,96,1125307.62,-0.51,0,1,2170.223676,1
97,97,1264562.36,12.37,1,1,2146.148806,1
98,98,1125263.52,-11.02,0,1,2398.938594,1
99,99,1109946.84,-1.36,0,1,2384.606308,1
100,100,1205293.20,8.59,1,1,2544.392388,1
101,101,1058417.45,-12.19,0,0,NaN,0
102,102,1028739.89,-2.80,0,1,NaN,0
103,103,830634.70,-19.26,1,1,NaN,0
104,104,931491.64,12.14,0,1,NaN,0
105,105,1043370.32,12.01,0,1,NaN,0
106,106,NaN,0.00,1,1,NaN,0
107,107,NaN,0.00,0,1,NaN,0
108,108,NaN,0.00,0,0,NaN,0
109,109,NaN,0.00,1,1,NaN,0
110,110,NaN,0.00,0,1,NaN,0

In [139]:
#now i want to know what is the averege percentage difference between a farmers income for a good and bad year compared to the previous year


# Calculate percentage change in farm income from previous year
gdp_data["farm_income_change"] = gdp_data["farm_income"].pct_change() * 100

# Separate good and bad years
good_years = gdp_data[gdp_data["actual_good_farming_year"] == 1]
bad_years = gdp_data[gdp_data["actual_good_farming_year"] == 0]

# Average percentage change for good years (compared to previous year)
avg_change_good = good_years["farm_income_change"].mean()

# Average percentage change for bad years (compared to previous year)
avg_change_bad = bad_years["farm_income_change"].mean()

print(f"Average % change in farm income for good years: {avg_change_good:.2f}%")
print(f"Average % change in farm income for bad years: {avg_change_bad:.2f}%")
print(f"Difference: {avg_change_good - avg_change_bad:.2f}%")

Average % change in farm income for good years: 50.00%
Average % change in farm income for bad years: -38.44%
Difference: 88.44%

/var/folders/w3/t56qbqz106131grf4j6jmmnr0000gn/T/ipykernel_70443/3841035194.py:5: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  gdp_data["farm_income_change"] = gdp_data["farm_income"].pct_change() * 100

In [140]:
# Get farm income change for good years that follow bad years
gdp_data["prev_year_type"] = gdp_data["actual_good_farming_year"].shift(1)

# Good years that follow bad years (prev year = 0, current year = 1)
bad_to_good = gdp_data[(gdp_data["actual_good_farming_year"] == 1) & (gdp_data["prev_year_type"] == 0)]

# Average change when transitioning from bad to good year
avg_bad_to_good = bad_to_good["farm_income_change"].mean()

print(f"Average % increase when going from bad to good year: {avg_bad_to_good:.2f}%")

Average % increase when going from bad to good year: 216.76%

In [141]:
# Bad years that follow good years (prev year = 1, current year = 0)
good_to_bad = gdp_data[(gdp_data["actual_good_farming_year"] == 0) & (gdp_data["prev_year_type"] == 1)]

# Average change when transitioning from good to bad year
avg_good_to_bad = good_to_bad["farm_income_change"].mean()

print(f"Average % change when going from good to bad year: {avg_good_to_bad:.2f}%")

Average % change when going from good to bad year: -62.16%

In [136]:
gdp_info.tail(30)

,year,gdp,gdp_change,good_fishing_year,ex_good_farming_year,actual_good_farming_year
81,81,1113091.45,8.32,0,1,1
82,82,1140876.91,2.50,1,1,1
83,83,1113078.83,-2.44,0,1,0
84,84,1092882.08,-1.81,0,1,0
85,85,1346431.67,23.20,1,1,1
86,86,1226579.58,-8.90,0,1,1
87,87,1092495.57,-10.93,0,0,0
88,88,1373987.29,25.77,1,1,1
89,89,1207774.27,-12.10,0,1,1
90,90,1210539.56,0.23,0,1,1
91,91,1337680.07,10.50,1,1,1
92,92,1157495.98,-13.47,0,1,1
93,93,1156836.02,-0.06,0,1,1
94,94,1197772.13,3.54,1,0,0
95,95,1131108.37,-5.57,0,1,1
96,96,1125307.62,-0.51,0,1,1
97,97,1264562.36,12.37,1,1,1
98,98,1125263.52,-11.02,0,1,1
99,99,1109946.84,-1.36,0,1,1
100,100,1205293.20,8.59,1,1,1
101,101,1058417.45,-12.19,0,0,0
102,102,1028739.89,-2.80,0,1,0
103,103,830634.70,-19.26,1,1,0
104,104,931491.64,12.14,0,1,0
105,105,1043370.32,12.01,0,1,0
106,106,NaN,0.00,1,1,0
107,107,NaN,0.00,0,1,0
108,108,NaN,0.00,0,0,0
109,109,NaN,0.00,1,1,0
110,110,NaN,0.00,0,1,0

In [137]:
#now add all income from all professions for each year 
income = pd.read_csv("../data/data/population_matka_bots_year100.csv")

# Group by year and sum all income for that year
income_by_year = income.groupby('year')['income'].sum().reset_index()
income_by_year.rename(columns={'income': 'total_income'}, inplace=True)

# Merge with gdp_info
gdp_info = gdp_info.merge(income_by_year[['year', 'total_income']], on='year', how='left')

gdp_info.tail(10)

,year,gdp,gdp_change,good_fishing_year,ex_good_farming_year,actual_good_farming_year,total_income
101,101,1058417.45,-12.19,0,0,0,NaN
102,102,1028739.89,-2.80,0,1,0,NaN
103,103,830634.70,-19.26,1,1,0,NaN
104,104,931491.64,12.14,0,1,0,NaN
105,105,1043370.32,12.01,0,1,0,NaN
106,106,NaN,0.00,1,1,0,NaN
107,107,NaN,0.00,0,1,0,NaN
108,108,NaN,0.00,0,0,0,NaN
109,109,NaN,0.00,1,1,0,NaN
110,110,NaN,0.00,0,1,0,NaN